.rightCol
  = render :partial => 'tiles/sidebox/follow_us'

.main
  %h2= @project.name
  .paste_show.metabox
    = @project.description

  .callbackSlideShow.slideShow
    %ul.slides
      - @project.photos.each do |photo|
        %li.slide
          %img{ :width => 600, :height => 450, :border => 0, :src => "#{photo.attachment.url(:slide)}"}

    %ul.slide-navigation
      - @project.photos.each_with_index do |photo,index|
        %li
          %a{ :href => "javascript:void(0);", :class => "page"} #{index+1}
  = javascript_include_tag 'jquery-slideshow-minified'
