.rightCol
  = render :partial => 'tiles/sidebox/follow_us'

.main
  .images
    images
    .multifile

= javascript_include_tag 'jquery-ui','jquery.metadata', 'jquery.hoverIntent'
= javascript_include_tag 'photo.upload'
= javascript_include_tag 'swfupload/swfupload', 'swfupload/swfupload.queue', 'swfupload/swfupload.speed'
= javascript_include_tag 'jquery.swfuploader/src/jquery.swfuploader'
= javascript_include_tag 'jquery.swfuploader/src/sets/exampleset/exampleset'
= javascript_include_tag 'jquery.swfuploader/src/sets/multifile/multifile'
= javascript_include_tag 'jquery.swfuploader/src/sets/singlefile/singlefile'