!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => :en,  :lang => :en }
  %head
    %meta{ "http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
    %title abc
    %meta{ "name" => "keywords", :content => "key words" }
    %meta{ "name" => "description", :content => "description words" }
    = stylesheet_link_tag "oocss/core/libraries", "oocss/core/content", "oocss/core/template/template", "railsjam"
    %link{ :rel => 'stylesheet', :href => '/javascripts/jquery.swfuploader/src/sets/multifile/multifile.css', :type => 'text/css', :media => 'screen' }
    = javascript_include_tag "jquery.min", "rails"
    = csrf_meta_tag 
  %body
    .page
      = render :partial => "tiles/head"
      .body
        = yield
      = render :partial => "tiles/foot"
